@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    @apply p-0 m-0 box-border;
}

.container-size {
    @apply w-[95%] md:max-w-[1240px] mx-auto;
}

.animate-bounce-x-axis {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,.2,1);
    }
}

